{% extends 'base.html' %}

{% block title %}Novo conteúdo{% endblock title %}

{% block extra_css %}
    <style>
        .custom-textarea {
            height: 60vh;
            font-family: sans-serif;
            font-size: 20px; 
        }
    </style>
{% endblock extra_css %}

{% block content %}
    <div class="container mt-4">
        <h2 class="text-center">Criar novo conteúdo</h2>
        <form method="post" class="custom-form">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.title.id_for_label }}" class="form-label">Título:</label>
                <input type="text" class="form-control" name="{{ form.title.name }}">
            </div>
            
            <div class="mb-3">
                <label for="{{ form.body.id_for_label }}" class="form-label">Conteúdo</label>
                <textarea class="form-control custom-textarea" name="{{ form.body.name }}"></textarea>
            </div>
            
            <button type="submit" class="btn btn-primary btn-lg mx-auto d-block mt-4 px-5 py-3">Salvar</button>
        </form>
    </div>
{% endblock content %}
