{% extends 'base.html' %}

{% block title %}Lista de Títulos{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <h2 class="text-center">Títulos dos Conteúdos</h2>
        <ul class="list-group">
            {% for content in contents %}
            <a href="{% url 'detail_content' content.id %}" class="text-decoration-none text-dark font-weight-bold">
                <li class="list-group-item" style="background-color: #212121; color: #fff;">
                    {{ content.title }}
                </li>
            </a>            
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
